@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

.head-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.head-container img {
  width: 52px;
  margin-left: 5%;
  margin-top: 10px;
}

.text-container {
  flex: 1;
  margin-left: 10px;
  text-align: start;
}

.main-line {
  width: 100%;
  height: 0.3px;
  margin-top: -15px;
  margin-bottom: 70px;
  background-color: #bbb;
}

/* 컨텐츠 내용 box css */
.content-box {
}

.starRate {
  width: 30%;
  height: 60%;
  margin-left: 8%;
  background-color: #bcc9fa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starRate h1,
h2 {
  margin: 0;
}

.rate-num {
  margin: 15% 0 2% 0;
}

.rate-star {
  position: relative;
  font-size: 25px;
  margin: 0 0 10% 0;
  color: #e7e7e7;
}

.rate-star span {
  position: absolute;
  left: 0;
  color: rgb(247, 230, 45);
}

.star-line {
  width: 60%;
  height: 0.3px;
  margin-bottom: 40px;
  background-color: black;
}

/* 별점 레벨 갯수별 게이지바 */
.starRate-level {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 20%;
}

.starLevel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #e7e7e7;
}

.starLevel span {
  position: absolute;
  left: 0;
  color: rgb(247, 230, 45);
}

.starRate-level progress {
  width: 90px;
}
.starRate-level progress::-webkit-progress-value {
  background-color: orange;
}

.allReview_header {
  display: flex;
  padding-left: 50px;
  width: 50%;
}


.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.image-container img {
  width: 65px;
  height: 50px;
  height: 67px;
  margin-left: 15px;
  margin-top: 5px; 
}

.text-container {
  flex: 1;
  margin-left: 10px;
  text-align: start;
}

.allReview_header1 i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.allReview_header2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.wrap_allReview_container {
  display: flex;
  flex-direction: column;
  margin: 30px 60px 30px 60px;
  align-items: center;
}

.allReview_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 3px solid lightgray;
  padding: 30px;
  width: 80%;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
 
}

.box{
  margin-top: 10px;
  justify-content: start;
  margin-right: 5%;
}
.vertical_review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  margin-right: 6%;
}



.vertical_review p, h4 {
  text-align: start;
  margin: 0 0 14% 0;
}


.review1 {
  display: flex;
  font-weight: bold;
  height: 60%;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 10px;
}


.starLevel {
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  position: relative;
  color: #E7E7E7;
  margin-bottom: 14%;
 }
 
 .starLevel span {
   position: absolute;
   left: 0;
   color: rgb(247, 230, 45);
 }

.review4 {
  font-size: smaller;
  text-align:start;
}

.review_contentbox {
  background-color: rgb();
  border-radius: 0.5rem;
  width: 60%;
  height: 130px;
  word-break:break-all;
}

.review_contentbox p{
  font-size: smaller;
  padding: 10px;
}

.toolbox {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.circle1 {
  width: 19px;
  height: 19px;
  background-color: #767474;
  border-radius: 50px;
  margin-right: 25px;
}

.circle2 {
  width: 19px;
  height: 19px;
  background-color: #000000;
  border-radius: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.circle3 {
  width: 19px;
  height: 19px;
  background-color: #767474;
  border-radius: 50px;
  margin-left: 25px;
}

.sendCoupon {
  background-color: #4965C7;
  width: 100px;
  height: 35px;
  border-radius: 15px;
  color:white;
  border: 0;
  cursor: pointer;
}

.sendCoupon:hover {
  background-color: #6b84dd;
}