@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    font-family: 'Pretendard-Regular';
  }
  
  .head-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .head-container img {
    width: 52px;
    margin-left: 5%;
    margin-top: 10px; 
  }
  
  .text-container {
    flex: 1;
    margin-left: 10px;
    text-align: start;
  }
  
  .main-line {
    width: 100%;
    height: 0.3px;
    margin-top: -15px; 
    margin-bottom: 70px;
    background-color: #bbb; 
  }
  
  
  /* 컨텐츠 내용 box css */
  .content-box {
   display: flex;
   justify-content: space-between;
  }
  
  .starRate {
    width: 28%;
    height: 60%;
    margin-left: 8%;
    background-color: #BCC9FA;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .starRate h1, h2 {
    margin: 0;
  }
  
  .rate-num {
    margin: 20% 0 2% 0;
    font-size: larger;
    font-weight: bolder;
  }
  
  .rate-star {
    position: relative;
    font-size: 25px;
    margin: 0 0 10% 0;
    color: #E7E7E7;
  }
  
  .rate-star span {
    position: absolute;
    left: 0;
    color: rgb(247, 230, 45);
  }
  
  .star-line {
    width: 60%;
    height: 0.3px;
    margin-bottom: 40px;
    background-color: rgb(124, 124, 124); 
  }
  
   /* 별점 레벨 갯수별 게이지바 */
   .starRate-level {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 25%;
  }
  
  .starLevel {
   display: flex;
   width: 100%;
   justify-content:space-between;
   align-items: center;
   position: relative;
   color: #E7E7E7;
  }
  
  .starLevel span {
    position: absolute;
    left: 0;
    color: rgb(247, 230, 45);
  }
  
   .starRate-level progress {
    width: 90px;
    appearance: none;
    margin-top: 7px;
   }

   .starRate-level progress::-webkit-progress-bar {
    background-color: #E7E7E7;
    height: 8px;
    border-radius: 10px;
  }

   .starRate-level progress::-webkit-progress-value {
    background-color: #b8b8b8;
    height: 8px;
    border-radius: 10px;
  }
  

  /* 리뷰 리스트 */
  .review-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 8%;
  }

  .review-box {
    width: 100%;
    height: 20%;
    background-color:white;
    border-radius: 20px;
    border: 3px solid #BCC9FA;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
  }

  #userState {
    font-size: 25px;
    width: fit-content;
    margin: 2% 0 1% 0;
  }

  .review-content {
    display: flex;
  }

  .user-info {
    width: 22%;
    display: flex;
    justify-content: space-between;
  }

  .user-name h3{
    margin: 0;
  }

  .upload-date p{
    margin-top: 1%;
    padding-top: 3px;
    color: rgb(112, 112, 112);
  }

  .user-review {
    margin-left: 15%;
  }
  .user-review p {
    margin: 0;
    font-size: large;
  }
