.infoRegister_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  font-weight: bold;
  font-size: 20px;
}

.infoRegister_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  width: 70%;
}

.wrap_store_img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.store_img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: #000000 solid 1px;
  display: hidden;
}

#store1_introduction {
  width: auto;
}

.address {
  display: flex;
  flex-direction: column;
}

.wrap_adress_input1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#address1_input_button {
  background-color: #639ef6;
  color: white;
  width: 100px;
  cursor: pointer;
}

#postalCode1 {
  display: flex;
  width: 200px;
}

.wrap_adress_input1 {
  display: flex;
}

#address_input3 {
  display: flex;
}

#address_input4 {
  display: flex;
}

.wrap_menu {
  display: flex;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
}

#inputsContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.previewImage {
  margin-top: 10px;
  margin-bottom: 10px;
}

#name_input1 {
  margin-top: 10px;
}

.menu_button1 {
  display: flex;
  flex-direction: row;
}

#addButton1 {
  background-color: #639ef6;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 5px;
  width: 50px;
  height: 30px;
}

#removeButton1 {
  background-color: #639ef6;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  width: 50px;
  height: 30px;
}

#writing_register1 {
  width: -webkit-fill-available;
  height: 100px;
}

.select {
  display: flex;
  padding: 0px 50px;
  justify-content: space-around;
  align-items: center;
}

#open-time-select1 {
  border-radius: 10px;
  width: 130px;
  height: 40px;
}

#closing-time-select1 {
  border-radius: 10px;
  width: 130px;
  height: 40px;
}

select option[value=""][disabled] {
  display: none;
}

#registration_number1 {
  width: -webkit-fill-available;
}

#certification_number1 {
  width: -webkit-fill-available;
}

.change {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

#register_button {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #4965c7;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
