@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    background-color: #E7E7E7;
}

h4 {
    margin-bottom: 2%;
}

/* 전체 컨텐츠 박스 */
.box {
    width: 65%;
    height: 50%;
    margin: 2% 18% 2% 18%;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #6C6A6A;
    display: flex;
    flex-direction: column;
   
}



/* 소비자 회원가입 제목 컨테이너 */
.ownerSignup-main {
    margin: 7% 0 2% 13%;
    display: flex;
    justify-content:flex-start;
}

.ownerSignup-main img {
    width: 8%;
    height: 8%;
    margin-right: 2%;
}

.ownerSignup-main pre {
    font-size: x-large;
    font-weight: bolder;
    margin: 2% 0 0 0;
}


/* 정보 입력 form 컨테이너 */
.ownerSignup-container {
    margin: 0 15% 5% 15%;
}

.input-info {
    width: 600px; 
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 10px;
}

/* 주소 찾기 */
#search-add {
    width: 90px;
    height: 55px;
    background-color: #4965C7;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0;
}

#zip-code { 
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 10px;
    margin-bottom: 0.5%;
}

#address-1 {
    margin-bottom: 0.5%;
}



/* 로그인 컨테이너 */
.login-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 19% 2% 0;
}

.login-container pre {
    display: inline;
    margin-left: 5px;
}

.login-container a {
    display: inline;
    margin-left: 5px;
    text-decoration: none;
    color: #4965C7;
}

.login-container a:visited {
    text-decoration: none;
    color: #4965C7;
}



/* 입력 오류 메시지 */
.error {
    color:red; 
    font-size:small;
    margin-top: 1%;
}


/* 회원가입 버튼 */
.signup-btn {
    width: 615px; 
    height: 55px;
    background-color: #4965C7;
    color: #ffffff;
    margin: 5% 0 5% 0;
    font-size: larger;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #6b84dd;
}

/* 반응형 */
@media screen and (max-width: 768px) {
    .box {
        width: 90%;
        margin: 10% auto;
    }

    .ownerSignup-main {
        margin: 5% 0 0 5%;
    }

    .ownerSignup-main img {
        width: 12%;
        height: 12%;
    }

    .ownerSignup-main pre {
        font-size: large;
        margin: 2% 0 0 0;
    }

    .ownerSignup-container {
        margin: 0 5% 5% 5%;
    }

    .input-info {
        width: calc(100% - 20px); /* 오른쪽 여백을 20px 유지 */
        margin: 2% 5px 2% 15px; /* 좌우 여백을 5px로 설정, 왼쪽 여백을 15px로 설정 */
    }

    .login-container {
        margin-right: 5%;
    }

    .login-container pre,
    .login-container a {
        margin-left: 5px;
        font-size: small;
    }

    #search-add {
        width: 100px;
    }

    #zip-code {
        width: 150px;
        margin-bottom: 2%;
    }

    #address-1,
    #address-2 {
        width: 90%;
        margin-bottom: 2%;
    }

    .signup-btn {
        width: 90%;
        margin: 5% auto;
    }
}
