@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

:root{
    --text-color: black;
    --background-color: white;
    --icon-color: black;
    --bodybackground-color:white;
    --nav-length: 6;
    --nav-width: calc(100% / var(--nav-length));
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 6px 12px;
    border-bottom: 1px solid lightgray;
}

.navbar_menu .icon_name span{
    font-weight: bold;
    display: inline-block;
}

body{
    margin: 0;
    background-color: var(--bodybackground-color);
}
.navbar_logo {
    display: flex;
    align-items: center;
}
.navbar_logo img{
    width: 50px;
    height: 50px;
    padding-left:0;
}
a{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
}

.service_name{
    font-size: 20px;
    font-family: 'SeoulNamsanM', sans-serif;
    top: 10px;
    padding-left: 10px;
}
.navbar_menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li{
    padding: 8px 20px;
}

.icon_name{
    font-family: 'SeoulNamsanM', sans-serif;
    text-align: center;
}


.navbar_icon{
    list-style: none;
    display: flex;
    color: var(--icon-color);
    margin:0;
    padding-left: 0;
}

.navbar_icon li p{
    font-size: 20px;
    padding-right: 20px;
}

.navber_icon li{
    padding:8px 12px;
    margin: 0;
}

.category{
    position: relative;
    display: flex;
}
.category a{
    display: block;
    width: var(--nav-width);
}
.nav-underline{
    position: absolute;
    left: 0;
    bottom: -2px;
    width: var(--nav-width);
    height: 2px;
    background: #4965C7;
    transition: all .3s ease-in-out;
}
.category a:nth-child(1).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 0);
}
.category a:nth-child(2).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 1);
}
.category a:nth-child(3).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 2);
}
.category a:nth-child(4).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 3);
}
.category a:nth-child(5).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 4);
}
.category a:nth-child(6).is-current ~ .nav-underline {
    left: calc(var(--nav-width) * 5);
}
.category a:nth-child(1):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 0);
}
.category a:nth-child(2):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 1);
}
.category a:nth-child(3):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 2);
}
.category a:nth-child(4):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 3);
}
.category a:nth-child(5):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 4);
}
.category a:nth-child(6):hover ~ .nav-underline {
    left: calc(var(--nav-width) * 5);
}

/* 메뉴 언더라인 */

.search-mode{
    position: relative;
    width: 350px;
    height: 30px;
    cursor: text;
}

input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: text;
}

.search_icon{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    cursor: pointer;
}
.inputbox{
    padding-left: 30px;
}

.secession_icon_name{
    font-family: 'SeoulNamsanM', sans-serif;
}

.navbar_menu .secession_icon_name span{
    font-weight: bold;
}

.secession_content_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secession_content_div h1{
    margin: 10px 0;
    font-family: 'Pretendard-Regular';
}

.secession_content_div p {
    margin: 10px 0;
    font-family: 'Pretendard-Regular';
}

.secession_content_div img{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
.button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4965C7;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 100px;
  }

  .containerb {
    text-align: center;
    align-items: flex-start;
    margin-left: 0; /* Remove the left margin */
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .image-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 60px;
    height: 57px;
    margin-left: 5px;
    margin-top: 10px; 
  }
  
  .text-container {
    flex: 1;
    margin-left: 10px;
    text-align: start;
    margin-top: 0;
  }
 

.line {
    width: 100%;
    height: 0.3px;
    margin-top: -15px; 
    
    background-color: #bbb; 
  }

  .container {
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 40px;
    text-align: center;
      
  }
  
  .square-box {
    width: 500px;
    height: 480px;
    background-color: rgba(188, 201, 250, 0.8);
    border-radius: 15px;
    margin-top: 5px;
  }
  
  .vertical-box {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  .rectangular-box {
    width: 500px;
    height: 150px;
    background-color: #DEE9FF;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  .text {
    text-align: center;
    margin-left: 110px;
    margin-bottom: -40px; 
  }
  .text p {
    font-size: 20px;
    margin-left: 150px;
    font-weight: normal;
    margin-top: -15spx;
  }
  .user-image-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
  .username-text {
    font-weight: bold;
    font-size: 30px;
    
  }
  
  .username-text1 {
    font-size: 25px;
    
  }
  .username-text, .username-text1 {
    display: inline;
  }
  .bt button {
    width: 140px;
    height: 50px;
    border-radius: 8px;
    background-color: #4965C7;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 100px;
  }
  .mypage {
    font-size: 21px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
}
.text{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
}
/* 하단 네비게이션 바 */
.bottom_navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    border-bottom: 1px solid lightgray;
}

.bottom_navbar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.bottom_navbar_menu li {
    margin: 0 10px;
}

.bottom_navbar_menu li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
}

.bottom_navbar_menu li a:hover {
    background-color: #ddd;
}